.containerUnity {
    position: relative;
    /* The container determains the size. */
    width: 800px;
    height: 600px;
  }
  .containerUnity > .loading-overlay {
    /* We'll render the overlay on top of the Unity Application. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    /* We'll set the following Flex properties in order to center the text. */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .containerUnity > .unity {
    /* The Unity Application matches it size to the container. */
    width: 100%;
    height: 100%;
  }